<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="kenny" class="com.springinaction.com.springinaction.springidol.OneManBand">
        <property name="instruments">
            <list>
                <ref bean="guitar"/>
                <ref bean="cymbal"/>
                <ref bean="harmonica"/>
            </list>
        </property>
    </bean>
    <bean id="hank" class="com.springinaction.com.springinaction.springidol.OneManBand">
        <property name="instruments">
            <set>
                <ref bean="guitar"/>
                <ref bean="cymbal"/>
                <ref bean="harmonica"/>
            </set>
        </property>
    </bean>
    <bean class="com.springinaction.com.springinaction.springidol.Harmonica" id="harmonica"/>
    <bean class="com.springinaction.com.springinaction.springidol.Cymbal" id="cymbal"/>
    <bean class="com.springinaction.com.springinaction.springidol.Guitar" id="guitar"/>
</beans>


















