<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="hank" class="com.springinaction.springidol.OneManBand2">
        <property name="instruments">
            <map key-type="java.lang.String">
                <description></description>
                <entry key="guitar" value-ref="guitar"/>
                <entry value-ref="cymbal" key="cymbal"/>
                <entry value-ref="harmonica" key="harmonica"/>
            </map>
        </property>
    </bean>
    <bean class="com.springinaction.com.springinaction.springidol.Harmonica" id="harmonica"/>
    <bean class="com.springinaction.com.springinaction.springidol.Cymbal" id="cymbal"/>
    <bean class="com.springinaction.com.springinaction.springidol.Guitar" id="guitar"/>
</beans>


















